li {
  padding: 5px;
  margin: 5px;
  list-style:none;
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: rgb(216, 0, 0);
  background-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


